main {
    min-height: 90vh;
}

.headerPage {
    display: flex;
    flex-direction: column;
    padding: 0 1.7rem;
}

.headerPage > h2 {
    padding-top: 2rem;
    color: #0047AB;
    text-transform: uppercase;
}

.headerPage > a {
    align-self: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 5rem;
    padding: 0.5rem 0;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0047ab;
    color: #ffffff;
}