header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-image: linear-gradient(to top, #0047ab, #0038a1, #002997, #00188c, #000080);
    min-height: 5rem;
    color: #ffffff;
}

header > nav > a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff !important;
}

header > nav > a:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
}

header > a > svg {
    color: #ffffff !important;
}

header > a > img {
    height: 8rem;
    border-radius: 50%;
}

header > nav {
    display: flex;
    gap: 2rem;
}
